* { margin:0; padding:0;  font-size:12px; color:#555555; list-style:none; } 
.clear { clear:both; height:0; visibility:hidden; }
a { text-decoration:none; cursor:pointer; }
a:hover { color:red; text-decoration:underline; }
a img { border:0; vertical-align:middle; }

#jcBg{width:100%;height:100%;position:fixed;top:0px;display:none;left:0px;z-index:500;background:black;opacity:0.2;-khtml-opacity:0.2;-moz-opacity:0.2;filter:alpha(opacity=20);font-family: "微软雅黑",Helvetica, Arial, sans-serif;}
.jcDateIco {}
input.jcDate { cursor:pointer; }
#jcDate {  width:402px; padding:10px; height:503px; position:absolute; z-index:1000;  display:none; font-size:0; overflow:hidden; }
#jcDate .title{background:#fefefe;border:none;border-radius:5px;-moz-border-radius: 5px; -webkit-border-radius: 5px;padding:3px 5px;margin-bottom:10px;}

#jcDate .bodys{background:#fefefe;padding:15px 10px;border:none;border-radius:5px;-moz-border-radius: 5px; -webkit-border-radius: 5px;}
#jcDateTt { height:35px; line-height:35px; position:relative; margin-bottom:10px; font-family: "微软雅黑",Helvetica, Arial, sans-serif;}
#jcDateTt a { color:#333;font-size:28px;font-weight:bold;color:#333; display:block; position:absolute; top:0; width:15px; height:15px; cursor:pointer; }
#jcDateTt a#d_prev { left:0; }
#jcDateTt a#d_next { right:0; }
#jcDateTt a#d_prev:hover { color:#eee; }
#jcDateTt a#d_next:hover { color:#eee; }
#jcDateTt div { position:absolute; top:0; left:15px; right:15px; bottom:0; color:#333; font-size:28px; font-weight:bold; text-align:center; }
#jcDateTt div samp,#jcDateTt div span { margin:0 5px; color:#333; font-size:28px; font-weight:bold; cursor:pointer;font-family: "微软雅黑",Helvetica, Arial, sans-serif; }
#jcDateTt div samp:hover,#jcDateTt div span:hover,#jcDateTt div samp.visited,#jcDateTt div span.visited { color:#2b84b5; }
#jcDateMax { width:4824px; height:124px; position:relative; left:-2414px; top:0;}
#jcDateMax ul { width:402px; font-size:0; float:left; height:340px; display:inline-black; }
#jcDayWrap { overflow:hidden;border-top:1px solid #eee; }
#jcYeas,#jcMonth { display:none; overflow:hidden; padding-left:2px; margin-bottom:10px; }
#jcYeas dt,#jcYeas dd { font-weight:bold; width:53px; height:30px; float:left; text-align:center; line-height:30px; cursor:pointer; }
#jcYeas dt:hover,#jcYeas dd:hover,#jcMonth dt:hover,#jcMonth dd:hover { background:#5aaad8; color:#fff; }
#jcYeas dt.visited,#jcYeas dd.visited,#jcMonth dt.visited,#jcMonth dd.visited { background:#f4a94c; color:#fff; }
#jcMonth dt { font-weight:bold; width:53px; height:25px; float:left; text-align:center; line-height:25px; cursor:pointer; margin:10px 0; }
#jcDayWrap ul li,
#jcDayCon dt { float:left; margin:15px;width:24px; line-height:24px; text-align:center; display:inline; }
#jcDayWrap ul li { color:#bbb; cursor:pointer; border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
#jcDayCon dt { color:#2b84b5; font-size:13px; }
#jcDayWrap ul li.jcDateColor { color:#555; }
#jcDayWrap ul li.visited { background:#f5aa35; color:#fff; }
#jcDayWrap ul li.full{background:#6a7883;color:#fff; }
#jcDayWrap ul li.rest{background:#4375a8;color:#fff; }
#jcDayWrap ul li:hover { background:#f5aa35; color:#fff; }
#jcDateMax { clear:both; }
/**************************************** jQuery jcdate - End ****************************************************/