.navbar {
	line-height: 42px;
	height: 42px;
	font-size: 1.42em;
}
.navbar-white {
	background: #ffffff;
	color: #000000;
}
.navbar-blue{
	background: #39f;
	color: #ffffff;
}
.navbar-red {
	background: #E84C3D;
	color: #ffffff;
}
.navbar-green {
	background: #2ECD71;
	color: #ffffff;
}
.navbar-violet {
	background: #9B58B5;
	color: #ffffff;
}
.navbar-orange {
	background: #E77E23;
	color: #ffffff;
}
