@CHARSET "UTF-8";
.main, .promotion {
    background-color: #F1F2F7;
    padding-bottom: 50px;
}
.w {
    width: 990px;
    margin: 0 auto;
}
.clr {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0
}
.payment {
    border-top: 4px solid #4b5b78;
    background-color: #fff;
    padding: 12px 30px 0;
	clear: both;
}
.order {
	position: relative;
	*zoom: 1
}

.order .o-left {
	float: left;
	width: 640px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px
}

.order .o-right {
	float: right;
	width: 190px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 125px;
	overflow: hidden
}

.order .o-title {
	line-height: 26px;
	height: 26px;
	overflow: hidden;
	font-size: 14px
}

.order .o-tips {
	line-height: 20px;
	height: 20px
}

.order .o-price {
	text-align: right;
	line-height: 26px;
	margin-bottom: 4px
}

.order .o-price em {
	vertical-align: bottom;
	    font-style: normal;
}

.order .o-price strong {
	font-size: 18px;
	vertical-align: bottom;
	color: #ff5d5b;
	margin: 0 3px
}

.p-w-bd,.pay-weixin {
	zoom: 1
}

.p-w-bd:after,.pay-weixin:after {
	display: table;
	content: "";
	clear: both;
}

.p-w-hd {
	margin-bottom: 20px;
	font-size: 18px;
	font-family: "Microsoft Yahei";
	clear: both;
}

.p-w-bd {
	padding-left: 130px;
	margin-bottom: 30px
}

.p-w-box {
	float: left;
	width: 300px
}

.p-w-sidebar {
	float: left;
	width: 379px;
	height: 421px;
	padding-left: 50px;
	margin-top: -20px;
	background: url(i/phone-bg.png) 50px 0 no-repeat
}
.pw-box-hd {
	margin-bottom: 20px
}

.pw-box-hd img {
	border: 1px solid #ddd;
	width: 298px;
	height: 298px;
}

.pw-box-ft {
	height: 44px;
	padding: 8px 0 8px 125px;
	background: url(i/icon-red.png) 50px 8px no-repeat #ff7674
}

.pw-box-ft p {
	margin: 0;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	font-weight: 700
}